Source: ros-melodic-ur-description
Section: misc
Priority: optional
Maintainer: G.A. vd. Hoorn <g.a.vanderhoorn@tudelft.nl>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-roslaunch <!nocheck>
Homepage: http://wiki.ros.org/ur_description
Standards-Version: 3.9.2

Package: ros-melodic-ur-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-joint-state-publisher-gui, ros-melodic-robot-state-publisher, ros-melodic-rviz, ros-melodic-urdf, ros-melodic-xacro
Description: URDF description for Universal UR3(e), UR5(e), UR10(e) and UR16e robots
